<table class="ui table">
    <tbody>
 <tr>
        #{list items:_members, as:'members'}
        </tr>
 <tr>
     <td>
         <h4 class="ui image header">
             <img src="/public/images/member.png" class="ui mini rounded image">
             <div class="content">
                 <a href ="/trainerdashboard/listmemberassessments/${members.id}">${members.name}</a>
                 <div class="sub header">${members.numOfAssessments} assessments
                 </div>
             </div>
         </h4>
     <a href="/trainerdashboard/deletemember/${members.id}" class="ui icon button">
         <i class="red icon trash alternate"></i>
     </a>
     </td>
        #{/list}
    </tbody>
</table>